@font-face {

  font-family: "joystix";
  src: local("joystix"),
    url("./font/joystix/joystix\ monospace.ttf");

}

#game div {
  border: 0.25em solid;
  border-color: black;
  height: 25vh;
  flex-basis: 20vw;
  margin: 10px;
  border-radius: 0.2em;
}

.facedown {
  background: url("./gifs/question-mark.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(100%);
}

h1 {
  font-weight: 800;
  font-style: italic;
}

ul {
  font-weight: 450;

}

#best-time {
  font-weight: 600;
}

#best-score {
  font-weight: 600;
}

#instructions {
  align-self: center;
}

#win-message {
  align-self: center;
  font-weight: 600;
  color: white;

}

body {
  background: url("./gifs/wp4512652-outrun-sunset-4k-wallpapers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 1.025em;
  color: white;
  font-family: joystix, sans-serif;
}

body h1 {
  align-self: center;
}

.top-score {
  display: flex;
  justify-content: space-between;
}

#play {
  display: block;
  width: 15em;
  padding: 1em;
}

#current-score {
  display: none;
  font-size: 2.5em;
  font-weight: 950;
  align-self: center;
  color: yellow;
}

#game {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


#instructions {
  display: flex;
  flex-direction: column;


}

#game-complete {
  display: none;
  flex-direction: column;
}

#important-instruction {
  list-style: none;
  font-style: italic;
  font-weight: 600;
  color: yellow;
}

button {
  font-size: x-small;
  font-family: inherit;
  margin-top: 0.05em;
  align-self: center;
  width: 10em;
  color: white;
  background: grey;
  border: 2px solid gray;
  border-radius: 5px;
  transition: all 300ms;
}

button:hover {
  border: 2px solid #494949;
  border-radius: 50px;
  cursor: pointer;
}

#difficulty {
  display: block;
  font-size: larger;
  align-self: center;
  width: 5em;
  color: white;
  background-image: linear-gradient(to right, #D38312 0%, #A83279 51%, #D38312 100%);
  border: 2px solid green;
  border-radius: 5px;
  transition: all 300ms;
}

#difficulty:hover {
  color: wheat;
  border: 2px solid #494949;
  border-radius: 50px;
}


.card-1 {
  background: url("./gifs/1.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-2 {
  background: url("./gifs/2.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-3 {
  background: url("./gifs/3.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-4 {
  background: url("./gifs/4.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-5 {
  background: url("./gifs/5.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-6 {
  background: url("./gifs/6.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-7 {
  background: url("./gifs/7.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-8 {
  background: url("./gifs/8.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-9 {
  background: url("./gifs/9.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-10 {
  background: url("./gifs/10.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-11 {
  background: url("./gifs/11.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-12 {
  background: url("./gifs/12.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#confirm-reset {
  align-self: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#confirm-reset p {
  text-align: center;

}


@media only screen and (max-width: 640px) {
  #game div {
    height: 14vh;
    flex-basis: 24vw;

  }

}